* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 0.7rem;
  border-top: 1px solid #ddd;
  font-family: "inter";
  font-weight: bold;
}
